// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #333333;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$containerGutter         : 15px;
$desktopWidth            : 1800px + $containerGutter * 2;
$smDesktopWidth          : 980px + $containerGutter * 2;
$tableWidth              : 768px + $containerGutter * 2;
$phoneWidth              : 480px + $containerGutter * 2;
$smPhoneWidth            : 320px + $containerGutter * 2;


// Main color
$primaryColor           : #c02d33;


$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;




$transition: all 0.3s;