// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.3;

$containerGutter         : 15px;
$desktopWidth            : 1800px + $containerGutter;
$smDesktopWidth          : 980px + $containerGutter;
$tableWidth              : 768px + $containerGutter;
$phoneWidth              : 480px + $containerGutter;
$smPhoneWidth            : 320px + $containerGutter;


// Main color
$default-color           : #333333;
$primary-color           : #c02d33;


$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;


$transition: all 0.3s;