.basket-items__header {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
}
.col-basket-item {
  background-color: #f5f5f5;
  border-radius: 1px;
  display: flex;
  padding: 20px;
}
.col-basket-item--total {
  font-size: 16px;
}
.basket-product__image {
  border: 1px solid #d1d1d1;
  background-color: #fff;
}
.basket-product__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
