.buyers-instruction {
 
  margin-bottom: 15px;
  // .buyers-instruction--open
  &--open {
    .buyers-instruction__text {
      display: block;
    }
  }
  // .buyers-instruction__title
  &__title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #ffffff;
    background-color: #c02d33;
    padding: 18px 30px 19px;
  }
  // .buyers-instruction__text
  &__text {
    padding: 38px 30px 25px;
    display: none;
  }
}
