.page {
  // .page__title
  &__title {
  }
}
.rating {
  display: flex;
  align-items: center;

  // .rating__inner
  &__inner {
    display: flex;
  }
  // .rating__item
  &__item {
    cursor: pointer;
    margin: 0 2px;

    svg {
      fill: #fff;
    }
    // .rating__item--active
    &:hover,
    &--active {
      svg {
        fill: #ffc800;
      }
    }
  }
  // .rating__icon
  &__icon {
    width: 25px;
    height: 25px;
  }
  // .rating__text
  &__text {
    font-size: 14px;
    color: #8c8c8c;
    margin-left: 10px;
  }
}

.information-detail-card {
  // .information-detail-card__prices
  &__prices {
  }

  // .information-detail-card__options
  &__options {
  }
}
.card-prices {
  background-color: #ffc800;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  // .card-prices__inner
  &__inner {
    display: flex;
  }

  // .card-prices__add-info
  &__add-info {
    font-size: 11px;
    line-height: 1.3;
    margin-left: 25px;
    flex: 1 1 0;
  }
}
.card-price {
  font-weight: bold;
  font-size: 38px;
  letter-spacing: -0.02em;
  flex: 0 0 auto;

  // .card-price--old
  &--old {
    font-weight: normal;
    font-size: 30px;
    text-decoration-line: line-through;
    margin-right: 15px;
    position: relative;
    top: 9px;
  }
}

.catalog-detail {
  // .catalog-detail__inner
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  // .catalog-detail__image
  &__image {
    flex: 1 1 auto;
    max-width: 674px;
  }
  // .catalog-detail__info
  &__info {
  }
}

.catalog-detail-nav-slider {
  // .catalog-detail-nav-slider__container
  &__container {
  }
  // .catalog-detail-nav-slider__wrapper
  &__wrapper {
  }
  // .catalog-detail-nav-slider__slide
  &__slide {
    border: 2px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.swiper-slide-thumb-active {
      border-color: #b82b2f;
    }
  }
}

.information-detail-card {
  flex: 1 1 0;

  // .information-detail-card__header
  &__header {
  }
  // .information-detail-card__title
  &__title {
  }
  // .information-detail-card__rating
  &__rating {
  }
}

.card-sizes-table {
  // .card-sizes-table__row
  &__row {
    font-size: 13px;
    display: flex;
    padding: 4px 15px 3px;

    &:nth-child(even) {
      background-color: #f4f4f4;
    }

    // .card-sizes-table__row--header
    &--header,
    &--footer {
      background-color: #ffc800;
      font-size: 14px;
    }
    &--header {
      div {
        flex-basis: calc(100% / 2 - 27px);
        flex-grow: 0;
      }
    }
  }
  // .card-sizes-table__col
  &__col {
    flex: 1 1 0;
    padding: 0 3px;
    white-space: nowrap;

    &:last-child {
      flex: 0 0 0;
    }

    // .card-sizes-table__col--price
    &--price {
      font-weight: 500;
      letter-spacing: -0.02em;
      font-feature-settings: 'tnum' on, 'lnum' on;

      color: #0d0d0d;
    }
    // .card-sizes-table__col--custom-size
    &--custom-size {
      flex-basis: 100%;
    }
  }
  // .card-sizes-table__btn
  &__btn {
    text-decoration-line: underline;
    color: #c02d33;
    font-size: 13px;
  }

  // .card-sizes-table__custom-size
  &__custom-size {
    background-color: #ffc800;
    border-bottom: 1px solid #333333;
    width: 100%;
    padding: 0;
  }
}

.action-detail-card {
  margin-top: 15px;

  &:hover,
  &:focus,
  &:active {
  }

  // .action-detail-card--buy-1-click
  &--buy-1-click {
    &:hover,
    &:focus,
    &:active {
    }
  }
}

/*------------------------------------*\
    #COLLECTIONS BLOCK START 
\*------------------------------------*/

.collections-block {
  margin-top: 35px;

  // .collections-block__header
  &__header {
    display: flex;
    align-items: center;
  }
  // .collections-block__title
  &__title {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
  // .collections-block__more
  &__more {
    font-size: 14px;
    text-decoration-line: underline;
    color: $primaryColor;
    margin-left: 20px;
    position: relative;
    top: 3px;
  }
  // .collections-block__inner
  &__inner {
    margin-top: 30px;
  }
}
.collections-slider {
  // .collections-slider__nav
  &__nav {
    margin-left: auto;
    display: flex;
  }
  // .collections-slider__button
  &__button {
    background-color: #ffffff;
    border: 2px solid #890005;
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
    height: 30px;
    width: 30px;

    &::before {
      @include pseudo;
      width: 10px;
      height: 10px;
      border: 2px solid #890005;
      transform: rotate(45deg);
      left: 50%;
      margin-left: -3px;
      top: 50%;
      margin-top: -5px;
    }

    // .collections-slider__button--prev
    &--prev {
      &::before {
        border-top: none;
        border-right: none;
      }
    }
    // .collections-slider__button--next
    &--next {
      &::before {
        border-bottom: none;
        border-left: none;
        margin-left: -6px;
      }
    }
  }
  // .collections-slider__container
  &__container {
  }
  // .collections-slider__wrapper
  &__wrapper {
  }
  // .collections-slider__slide
  &__slide {
  }
}
/*------------------------------------*\
    #COLLECTIONS BLOCK END 
\*------------------------------------*/

/*------------------------------------*\
    #CARD PROMO BLOCK START 
\*------------------------------------*/

.catalog-detail {
  // .catalog-detail__primo-blocks
  &__promo-blocks {
    margin-top: 35px;
  }
}
.card-promo-blocks {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -10px;
}
.card-promo-blocks__item {
}
.card-promo-block {
  margin: 0 5px 10px;
  flex: 0 0 calc(100% / 4 - 10px);
  border: 4px solid #00672f;
  padding: 24px;
  background-position: right bottom;
  background-repeat: no-repeat;

  &--factory {
    border-color: #ffc800;
    background-image: url(../../img/i-card-promo-blocks-1.png);
  }

  &--standard {
    background-image: url(../../img/i-card-promo-blocks-2.png);
  }

  &--video {
    background-image: url(../../img/i-card-promo-blocks-3.png);
  }

  &--instruction {
    background-image: url(../../img/i-card-promo-blocks-4.png);
  }

  // .card-promo-block__text
  &__text {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
  }

  // .card-promo-block__more
  &__more {
    text-align: center;
    text-decoration-line: underline;
    color: #0d0d0d;
    display: inline-block;
    margin-top: 17px;
  }
  // .card-promo-block__title
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
  }
}

/*------------------------------------*\
    #CARD PROMO BLOCK END 
\*------------------------------------*/

/*------------------------------------*\
    #CONSULTATION BLOCK START 
\*------------------------------------*/
.catalog-detail {
  // .catalog-detail__consultation
  &__consultation {
    margin-top: 35px;
  }
}
.consultation-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  background-image: url(../../img/bg-consultation.svg);
  background-repeat: no-repeat;
  background-position: -15px center;
  padding: 24px 0;
  margin-left: -84px;

  // .consultation-block__title
  &__title {
    font-weight: 600;
    font-size: 24px;
    margin: 5px 25px;
  }
  // .consultation-block__btn
  &__btn {
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 8px 26px 9px;
    margin: 5px 25px;
  }
}

/*------------------------------------*\
    #CONSULTATION BLOCK END 
\*------------------------------------*/

/*------------------------------------*\
    #TABS BLOCK START 
\*------------------------------------*/

.catalog-detail {
  // .catalog-detail__tabs
  &__tabs {
    margin-top: 35px;
  }
}
.card-tabs {
  // .card-tabs__header
  &__header {
    display: flex;
    margin: 0 -5px;
  }
  // .card-tabs__tab
  &__tab {
    margin: 0 5px;
    padding: 20px 30px;
    background-color: #f1f1f1;
    border-radius: 1px 1px 0px 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0d0d0d;
    cursor: pointer;
  }

  [data-tab-active='true'] {
    background-color: $primaryColor;
    color: #fff;
  }
  // .card-tabs__contents
  &__contents {
  }
  // .card-tabs__content
  &__content {
    padding-top: 25px;
    display: none;
  }
  [data-content-active='true'] {
    display: block;
  }
  // .card-tabs__title
  &__title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
  }
  // .card-tabs__inner
  &__inner {
    font-size: 14px;
    margin-top: 25px;
  }
  // .card-tabs__reviews
  &__reviews {
    display: flex;
  }
}
/*------------------------------------*\
    #TABS BLOCK END 
\*------------------------------------*/

/*------------------------------------*\
    #EQUIPMENT BLOCK START 
\*------------------------------------*/

.card-options {
  display: flex;
  margin: 15px -10px;
  padding: 15px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;

  // .card-options__item
  &__item {
    margin: 0 10px;
    flex: 0 0 calc(100% / 2 - 20px);
  }
}
.card-equipments {
  // .card-equipments__item
  &__item {
  }
}
.equipment-card-block {
  margin-bottom: 15px;

  // .equipment-card-block__title
  &__title {
    font-weight: bold;
    font-size: 16px;
  }
  // .equipment-card-block__in ner
  &__inner {
    display: flex;
    margin: 10px -5px 0;
  }
  // .equipment-card-block__item
  &__item {
  }

  // .equipment-card-block--mattress
  &--mattress {
    cursor: pointer; 
  }
}
.equipment-card {
  background: #fff;
  opacity: 0.5;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 5px;
  padding: 8px 5px 9px;
  min-height: 94px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  flex: 1 1 auto;
  max-width: 90px;
  flex-direction: column;
  align-items: center;

  &::before {
    @include pseudo;
    height: 8px;
    width: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    z-index: 1;
  }

  // .equipment-card__image
  &__image {
    transform: scale(0.8);
    margin-top: 12px;
  }
  // .equipment-card__title
  &__title {
    font-size: 9px;
    letter-spacing: -0.02em;
    margin-top: 5px;
  }

  // .equipment-card--active
  &--active {
    opacity: 1;
    flex: 1 1 auto;
    max-width: 160px;

    &::before {
      background-color: $primaryColor;
    }

    // .equipment-card__image
    .equipment-card__image {
      transform: scale(1);
      margin-top: 0;
    }
    // .equipment-card__title
    .equipment-card__title {
      font-size: 12px;
      letter-spacing: -0.02em;
      margin-top: 8px;
    }
  }
}

.equipment-mattress-card {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  width: 100%;

  // .equipment-mattress-card__image
  &__image {
    flex: 0 0 auto;
  }
  // .equipment-mattress-card__title
  &__title {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;

    color: #333333;
  }
  // .equipment-mattress-card__help
  &__help {
    margin-left: auto;
    flex: 0 0 auto;
  }
}

/*------------------------------------*\
    #EQUIPMENT BLOCK END 
\*------------------------------------*/

/*------------------------------------*\
    #ACTIONS BLOCK START 
\*------------------------------------*/
.information-detail-card {
  // .information-detail-card__actions
  &__actions {
  }
}
.detail-card-actions {
  display: flex;
  margin: 0 -10px;
}
.action-detail-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  flex: 0 0 calc(100% / 2 - 20px);

  // .action-detail-card--buy-1-click
  &--buy-1-click {
  }
  // .action-detail-card--buy
  &--buy {
  }

  // .action-detail-card__icon
  &__icon {
    margin-right: 5px;
  }
}
/*------------------------------------*\
    #ACTIONS BLOCK START 
\*------------------------------------*/
