.page {
  // .page__title
  &__title {
  }
}
.rating {
  display: flex;
  align-items: center;

  // .rating__inner
  &__inner {
    display: flex;
  }
  // .rating__item
  &__item {
    cursor: pointer;
    margin: 0 2px;

    svg {
      fill: #fff;
    }
    // .rating__item--active
    &:hover,
    &--active {
      svg {
        fill: #ffc800;
      }
    }
  }
  // .rating__icon
  &__icon {
    width: 25px;
    height: 25px;
  }
  // .rating__text
  &__text {
    font-size: 14px;
    color: #8c8c8c;
    margin-left: 10px;
  }
}

.information-detail-card {
  // .information-detail-card__prices
  &__prices {
  }
}
.card-prices {
  background-color: #ffc800;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  // .card-prices__inner
  &__inner {
    display: flex;
  }

  // .card-prices__add-info
  &__add-info {
    font-size: 11px;
    line-height: 1.3;
    margin-left: 25px;
    flex: 1 1 0;
  }
}
.card-price {
  font-weight: bold;
  font-size: 38px;
  letter-spacing: -0.02em;
  flex: 0 0 auto;

  // .card-price--old
  &--old {
    font-weight: normal;
    font-size: 30px;
    text-decoration-line: line-through;
    margin-right: 15px;
    position: relative;
    top: 9px;
  }
}

.catalog-detail {
  // .catalog-detail__inner
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  // .catalog-detail__image
  &__image {
    flex: 1 1 auto;
    max-width: 674px;
  }
  // .catalog-detail__info
  &__info {
  }
}
.information-detail-card {
  flex: 1 1 0;

  // .information-detail-card__header
  &__header {
  }
  // .information-detail-card__title
  &__title {
  }
  // .information-detail-card__rating
  &__rating {
  }
}

.card-sizes-table {
  // .card-sizes-table__row
  &__row {
    font-size: 13px;
    display: flex;
    padding: 4px 15px 3px;

    &:nth-child(even) {
      background-color: #f4f4f4;
    }

    // .card-sizes-table__row--header
    &--header,
    &--footer {
      background-color: #ffc800;
      font-size: 14px;
    }
    &--header {
      div {
        flex-basis: calc(100% / 2 - 27px);
        flex-grow: 0;
      }
    }
  }
  // .card-sizes-table__col
  &__col {
    flex: 1 1 0;
    padding: 0 3px;
    white-space: nowrap;

    &:last-child {
      flex: 0 0 0;
    }

    // .card-sizes-table__col--price
    &--price {
      font-weight: 500;
      letter-spacing: -0.02em;
      font-feature-settings: 'tnum' on, 'lnum' on;

      color: #0d0d0d;
    }
    // .card-sizes-table__col--custom-size
    &--custom-size {
      flex-basis: 100%;
    }
  }
  // .card-sizes-table__btn
  &__btn {
    text-decoration-line: underline;
    color: #c02d33;
    font-size: 13px;
  }

  // .card-sizes-table__custom-size
  &__custom-size {
    background-color: #ffc800;
    border-bottom: 1px solid #333333;
    width: 100%;
    padding: 0;
  }
}

.action-detail-card {
  background: $primaryColor;
  border: 1px solid $primaryColor;
  box-sizing: border-box;
  border-radius: 1px;
  transition: $transition;
  font-size: 20px;
  line-height: 1.2;
  padding: 8px 20px 10px;
  color: #fff;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    color: $primaryColor;
  }

  // .action-detail-card--buy-1-click
  &--buy-1-click {
    background-color: #fff;
    color: $primaryColor;

    &:hover,
    &:focus,
    &:active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}

/*------------------------------------*\
    #COLLECTIONS BLOCK START 
\*------------------------------------*/

.collections-block {
  margin-top: 35px;

  // .collections-block__header
  &__header {
    display: flex;
    align-items: center;
  }
  // .collections-block__title
  &__title {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
  // .collections-block__more
  &__more {
    font-size: 14px;
    text-decoration-line: underline;
    color: $primaryColor;
    margin-left: 20px;
    position: relative;
    top: 3px;
  }
  // .collections-block__inner
  &__inner {
    margin-top: 30px;
  }
}
.collections-slider {
  // .collections-slider__nav
  &__nav {
    margin-left: auto;
    display: flex;
  }
  // .collections-slider__button
  &__button {
    background-color: #ffffff;
    border: 2px solid #890005;
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
    height: 30px;
    width: 30px;

    &::before {
      @include pseudo;
      width: 10px;
      height: 10px;
      border: 2px solid #890005;
      transform: rotate(45deg);
      left: 50%;
      margin-left: -3px;
      top: 50%;
      margin-top: -5px;
    }

    // .collections-slider__button--prev
    &--prev {
      &::before {
        border-top: none;
        border-right: none;
      }
    }
    // .collections-slider__button--next
    &--next {
      &::before {
        border-bottom: none;
        border-left: none;
        margin-left: -6px;
      }
    }
  }
  // .collections-slider__container
  &__container {
  }
  // .collections-slider__wrapper
  &__wrapper {
  }
  // .collections-slider__slide
  &__slide {
  }
}
/*------------------------------------*\
    #COLLECTIONS BLOCK END 
\*------------------------------------*/
