.equipment-block {
  position: relative;
  min-height: 500px;
}
.equipment-block--slider-right {
  padding-right: 600px;
}
.equipment-block--slider-left {
  padding-left: 600px;
}
.equipment-block__text {
  margin-bottom: 20px;
}
.equipment-block__slider {
  position: absolute;
  top: 0;
  max-width: 500px;
  width: 100%;
}
.equipment-block__slider--right {
  right: 0;
}
.equipment-block__slider--left {
  left: 0;
}
.equipment-block__title {
  font-weight: bold;
  color: #0d0d0d;
}
.slide-equipment-slider__image-name {
  font-style: italic;
  text-align: center;
  margin-top: 8px;
}
