.page-reviews {
  // .page-reviews__inner
  &__inner {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.reviews {
  flex: 0 1 1193px;
  margin-right: 20px;

  // .reviews__list
  &__list {
  }
  // .reviews__item
  &__item {
    margin-bottom: 30px;
  }
}

.review {
  // .review__header
  &__header {
    display: flex;
  }
  // .review__date
  &__date {
    font-size: 14px;
    color: #1c243d;
    margin-right: 10px;
  }
  // .review__author
  &__author {
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: #1c243d;
  }
  // .review__body
  &__body {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
  }
}

.reviews-form {
  background-color: #f1f1f1;
  padding: 25px 30px;

  @media screen and (max-width: 1024px) {
    margin-top: 40px;
  }

  .form {
    padding: 0;
    // .form__title
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 640px) {
        font-size: 22px;
      }

      svg {
        margin-right: 7px;

        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}
