<% var data = { title: "Статьи", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <%= _.template(require('./../includes/sidebar.html').default)() %>
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Статьи</h1>
      <div class="page-articles">



        <div class="articles-list">

          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/1.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/2.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/3.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/4.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/5.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Какую столешницу для кухни выбрать: из искусственного камня или
                ДСП? Какую столешницу для кухни выбрать: из искусственного камня или ДСП?</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/6.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/1.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/2.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/3.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/4.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/5.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Какую столешницу для кухни выбрать: из искусственного камня или
                ДСП? Какую столешницу для кухни выбрать: из искусственного камня или ДСП?</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/6.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/1.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/2.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/3.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/4.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/5.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Какую столешницу для кухни выбрать: из искусственного камня или
                ДСП? Какую столешницу для кухни выбрать: из искусственного камня или ДСП?</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>
          <article class="articles-list__item article-teaser">
            <div class="article-teaser__inner">
              <a href="" class="article-teaser__image">
                <img src="uploads/articles/6.png" alt="">
              </a>
              <a href="" class="article-teaser__title">Искусственное состаривание древесины</a>
              <div class="article-teaser__text">
                Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
                сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
                древесных...
              </div>
            </div>
          </article>


        </div>

        <%= _.template(require('./../includes/pagination.html').default)() %>



      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>