<% var data = { title: "Искусственное состаривание древесины", }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <%= _.template(require('./../includes/sidebar.html').default)() %>
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Искусственное состаривание древесины</h1>
      <div class="page-article">
        <article class="article">
          <p>
            Оригинальная старинная мебель, которая относится к антиквариату, всегда привлекала внимание. Однако,
            сохранить ее в идеальном состоянии не просто. Производители освоили способы искусственного старения
            древесных заготовок, что позволило создавать настоящие шедевры красивой, практичной мебели с длительным
            сроком использования. Покупателям будет полезна информация о том, как придать мебельным гарнитурам старинный
            вид. Для этого наиболее часто используются технологии и способы, перечисленные далее.
          </p>
          <img class="article__image" src="uploads/article/5.jpg" alt="">

          <h3>
            Механическая обработка
          </h3>
          <p>Любая древесина со временем усыхает под влиянием солнечного, комнатного света, сухого воздуха в помещении и
            приобретает рельефный вид. Чтобы искусственно создать такую поверхность на заготовках, необходимо удалить из
            структуры более мягкие волокна. Для этого используют ручной и механический метод браширования. </p>
          <p>Вручную можно обработать небольшие по площади заготовки. Такая отделка придает дереву полноценный старинный
            вид. Для этого применяют специальные щетки с металлическим ворсом. Поступательными движениями счищают мягкие
            волокна. Затем щеткой с более мелкой щетиной, поверхность шлифуется. Таким способом обрабатывают только
            сухие заготовки, чтобы исключить появление задиров. </p>
          <p>Для того чтобы мебель имела старинный потемневший вид, ее обрабатывают морилкой, затем полируют и несколько
            раз покрывают бесцветным лаком. </p>
          <p>Чтобы самостоятельно обработать поверхность заготовок механическим способом, используют ручные шлифовальные
            машины с абразивной щеткой, поставляемой в комплекте. На производстве применяют шлифовальные станки, которые
            за считанные минуты удаляют мягкие волокна, обеспечивая полноценное старение древесных заготовок. При
            обработке любым способомы необходимо использовать средства индивидуальной защиты от пыли и опилок.
            Механическим методом лучше всего обрабатываются орех, ясень, дуб, хвойные породы.</p>
          <h3>Химическое старение</h3>
          <p>Отшлифованную крупной наждачной бумагой древесину обрабатывают нашатырным спиртом или аммиачным раствором,
            что приводит к потемнению мебели. Чтобы сделать акцент на годовых кольцах, поверхность слегка защищают,
            нанося на нее морилку и лак. </p>
          <p>Некоторые производители мебели под старину используют более дешевый способ. Для этого массив обрабатывают
            морилкой на водной основе, которую потом смывают губкой, смоченной в воде. При этом края контура колец,
            становятся более темными, что подчеркивает оригинальную текстуру породы.</p>
          <h3>Термический способ</h3>
          <p>Антикварный внешний вид мебели достигают с помощью термобработки. Для этого строганые заготовки обжигают
            газовой горелкой по всей поверхности или в отдельных местах. В этом случае сгорают мягкие волокна, а годовые
            кольца и сучки выделяются более четко.</p>
          <p>Рельефность рисунка повышается щеткой с мягким металлическим ворсом. Желаемый оттенок придают морилкой.
            Когда древесина высохла, ее покрывают прозрачным лаком. Для коррекции цвета предусмотрены тонирующие
            составы.</p>
        </article>
      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>