<% var data = { title: "Покупателям", }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Покупателям</h1>
      <div class="page-buyers">
        <div class="buyers-instruction buyers-instruction--open">
          <div class="buyers-instruction__title">
            Как заказать
          </div>
          <div class="buyers-instruction__text">
            <p>Вас заинтересовала мебель, предложенная на нашем сайте, и вы хотите ее приобрести? Нет ничего проще! Для
              вас мы предлагаем два способа заказа.
            </p>

            <ol>
              <li>Вы можете позвонить нам по телефонам 8 (960) 735-81-51 или 8 (499) 348-11-64 или тел/факс 8 (49234)
                7-70-32 и сделать заказ.</li>
              <li>У Вас есть возможность оформить заказ прямо на сайте, добавив понравившийся товар в корзину и оставив
                свои контактные данные, по которым мы с вами обязательно свяжемся.</li>
              <li>После поступления товара Вам обязательно присваивается номер заказа, и, в течение суток, без учета
                выходных с Вами свяжутся менеджеры для подтверждения заказа, его корректировки, если кому-либо из двух
                сторон нужно внести изменения.</li>
              <li>После подтверждения заказа процесс изготовления заказа оставляет от 3 до 7 рабочих дней в зависимости
                от сложности заказа и загруженности производства.</li>
            </ol>
          </div>
        </div>
        <div class="buyers-instruction">
          <div class="buyers-instruction__title">
            Оплата
          </div>
          <div class="buyers-instruction__text">
            <p>Оплата покупаемого товара может осуществляться по наличному и безналичному расчету.</p>
            <p>Для оптовиков специальное предложение - доставка товара обговаривается индивидуально.</p>
          </div>
        </div>
        <div class="buyers-instruction">
          <div class="buyers-instruction__title">
            Материалы применяющиеся в производстве нашей мебели
          </div>
          <div class="buyers-instruction__text">
            <p>Оплата покупаемого товара может осуществляться по наличному и безналичному расчету.</p>
            <p>Для оптовиков специальное предложение - доставка товара обговаривается индивидуально.</p>
          </div>
        </div>



      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>