<% var data = { title: "Каталог", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <%= _.template(require('./../includes/sidebar.html').default)() %>
    <main class="main-content">

      <%= _.template(require('./../includes/catalog-slider.html').default)() %>
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>

      <h1 class="page__title">Двуспальные кровати</h1>
      <div class="catalog-list__sorting sorting-block">
        <div class="sorting-block__title">
          Сортировать по:
        </div>
        <div class="sorting-block__inner">
          <button class="sorting-block__btn button-sorting button-sorting--active">
            цене
          </button>
          <button class="sorting-block__btn button-sorting button-sorting--asc">
            названию
          </button>
          <button class="sorting-block__btn button-sorting button-sorting--desc">
            новизне
          </button>
        </div>
        <div class="sorting-block__count">
          Товаров: 105
        </div>
      </div>
      <div class="catalog-list">

        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/2.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/4.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/4.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/2.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>

      </div>
      <div class="pagination">
        <a href="" class="pagination__item">&lt;&lt; Первая</a>
        <a href="" class="pagination__item">&lt; Предыдущая</a>
        <span href="" class="pagination__item pagination__item--current">1</span>
        <a href="" class="pagination__item">2</a>
        <a href="" class="pagination__item">3</a>
        <a href="" class="pagination__item">Следующая &gt;</a>
        <a href="" class="pagination__item">Последняя &gt;&gt;</a>
      </div>
      <div class="catalog__description catalog-description">
        <div class="catalog-description__title">
          Двуспальные кровати
        </div>
        <p>
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми снова, раз
          текст власти мир силуэт сбить свое они. Это оксмокс последний которое заглавных. Раз обеспечивает коварных но
          великий!

        </p>
        <p>
          Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Встретил путь заглавных
          букв lorem правилами, по всей подпоясал большой они ipsum рекламных первую диких заголовок! Она заглавных
          пунктуация они залетают.
        </p>
      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>