<% var data = { title: "Каталог", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <aside class="sidebar">
      <div class="sidebar__block sidebar-block">
        <div class="sidebar-block__title">
          Каталог мебели
        </div>
        <ul class="sidebar__menu menu-catalog-sidebar">
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-1"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Кровати</span>
              <button type="button" class="menu-catalog-sidebar__btn btn--clear"
                aria-label="Раскрыть меню каталога"></button>
            </a>
            <div class="item-menu-catalog__sub-menu catalog-sub-menu">
              <div class="catalog-sub-menu__title">Кровати</div>
              <ul class="catalog-sub-menu__list">
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Односпальные кровати
                  </a>
                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Полутороспальные кровати
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Двуспальные кровати
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Кровати с подъемным механизмом
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Кровати с ортопедическим основанием
                  </a>

                </li>
              </ul>
            </div>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-2"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Матрасы</span>
              <button type="button" class="menu-catalog-sidebar__btn btn--clear"
                aria-label="Раскрыть меню каталога"></button>
            </a>
            <div class="item-menu-catalog__sub-menu catalog-sub-menu">
              <div class="catalog-sub-menu__title">Матрасы</div>
              <ul class="catalog-sub-menu__list">
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Пружинные матрасы
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Ортопедические матрасы 256 пр/м
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Ортопедические матрасы 500 пр/м
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Беспружинные матрасы
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Наматрасники
                  </a>

                </li>
                <li class="catalog-sub-menu__item">
                  <a href="" class="catalog-sub-menu__link">
                    Подушки
                  </a>

                </li>
              </ul>
            </div>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-3"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Комоды</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-4"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Тумбы</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-5"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Шкафы</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-6"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Письменные столы</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-7"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Буфеты</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-8"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Мебель в стиле верди</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-9"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Спальные гарнитуры</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-10"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Стенки</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-11"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Мебель под старину</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-12"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Стулья, табуреты</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-13"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Столы</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-14"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Зеркала</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-15"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Подъёмный механизм</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-16"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Ортопед. основание</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-17"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Резная мебель</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-18"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Подкроватный ящик</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-19"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Кухни</span>
            </a>
          </li>
          <li class="menu-catalog-sidebar__item item-menu-catalog">
            <a href="" class="menu-catalog-sidebar__link">
              <span class="menu-catalog-sidebar__icon">
                <svg class="icon">
                  <use xlink:href="#i-catalog-20"></use>
                </svg>
              </span>
              <span class="menu-catalog-sidebar__text">Хиты продаж</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar__block sidebar-block">
        <div class="sidebar-block__title">
          Доставка
        </div>

        <div class="sidebar__delivery delivery-block">
          <p>
            <b>По Москве</b> (внутри МКАД и снаружи МКАД — не более 10км):
            <br />
          </p>
          <p>
            До подъезда от 1000₽ до 1500₽. <br />
            Ближайшее подмосковье — 1300₽ <br />
            Подмосковье — 1500₽ + 25 ₽/км
          </p>
          <p>
            <b>По России:</b> <br />
            1. ТК Деловые Линии <br />
            2. ТК ПЭК
          </p>
        </div>
      </div>
    </aside>
    <main class="main-content">
      <div class="catalog-slider">
        <div class="swiper-container catalog-slider__container">
          <div class="swiper-wrapper catalog-slider__wrapper">
            <div class="swiper-slide catalog-slider__slide slide-catalog-slider">
              <div class="slide-catalog-slider__inner">
                <img src="uploads/catalog-slider/1.jpg" title="" alt="" class="slide-catalog-slider__image">
              </div>
            </div>
            <div class="swiper-slide catalog-slider__slide slide-catalog-slider">
              <div class="slide-catalog-slider__inner">
                <img src="uploads/catalog-slider/1.jpg" title="" alt="" class="slide-catalog-slider__image">
              </div>
            </div>
          </div>
        </div>
      </div>


      <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="breadcrumbs__link" itemprop="item" href="https://example.com/dresses">
            <span class="breadcrumbs__name" itemprop="name">Кровати и матрасы </span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="breadcrumbs__link" itemprop="item" href="https://example.com/dresses">
            <span class="breadcrumbs__name" itemprop="name">Двуспальные матрасы</span></a>
          <meta itemprop="position" content="2" />
        </li>
      </ul>




      <h1 class="page__title">Двуспальные кровати</h1>
      <div class="catalog-list__sorting sorting-block">
        <div class="sorting-block__title">
          Сортировать по:
        </div>
        <div class="sorting-block__inner">
          <button class="sorting-block__btn button-sorting button-sorting--active">
            цене
          </button>
          <button class="sorting-block__btn button-sorting button-sorting--asc">
            названию
          </button>
          <button class="sorting-block__btn button-sorting button-sorting--desc">
            новизне
          </button>
        </div>
      </div>
      <div class="catalog-list">

        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/2.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/4.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/4.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/1.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/2.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать с ортопедическим основанием
                Берта-М 3 спинки </a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>
        <article class="catalog-list__item product-teaser">
          <div class="product-teaser__inner">
            <header class="product-teaser__header">
              <div class="product-teaser__sticker sticker sticker--sale">
                -10%
              </div>
              <a href="" title="" class="product-teaser__image">
                <img src="../../uploads/catalog-list/3.png" alt="" />
              </a>
              <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Лаура-М</a>
            </header>
            <footer class="product-teaser__footer">
              <div class="product-teaser__prices">
                <div class="product-teaser__price">9330 ₽</div>
                <div class="product-teaser__price product-teaser__price--old">
                  10330 ₽
                </div>
              </div>
              <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                В корзину
              </button>
            </footer>
          </div>
        </article>

      </div>
      <div class="pagination">
        <a href="" class="pagination__item">&lt;&lt; Первая</a>
        <a href="" class="pagination__item">&lt; Предыдущая</a>
        <span href="" class="pagination__item pagination__item--current">1</span>
        <a href="" class="pagination__item">2</a>
        <a href="" class="pagination__item">3</a>
        <a href="" class="pagination__item">Следующая &gt;</a>
        <a href="" class="pagination__item">Последняя &gt;&gt;</a>
      </div>
      <div class="catalog__description catalog-description">
        <div class="catalog-description__title">
          Двуспальные кровати
        </div>
        <p>
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми снова, раз
          текст власти мир силуэт сбить свое они. Это оксмокс последний которое заглавных. Раз обеспечивает коварных но
          великий!

        </p>
        <p>
          Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Встретил путь заглавных
          букв lorem правилами, по всей подпоясал большой они ipsum рекламных первую диких заголовок! Она заглавных
          пунктуация они залетают.
        </p>
      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>