<% var data = { title: "Каталог", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <%= _.template(require('./../includes/sidebar.html').default)() %>
    <main class="main-content">



      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>



      <article class="catalog-detail" itemscope itemtype="http://schema.org/ItemList">
        <div class="catalog-detail__scheme-org scheme-org" hidden>
          <img alt="Photo of product" itemprop="image" src="https://deisus-m.ru/uploads/catalog-detail-slider/1.jpg">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="name" content="Двуспальная кровать Кровать Амина-М">
            <meta itemprop="sku" content="80295323">
            <link itemprop="url" href="https://deisus-m.ru/catalog/product-1.html">
            <meta itemprop="availability" content="https://schema.org/InStock">
            <meta itemprop="priceCurrency" content="RUB">
            <span itemprop="price">4399 р.</span>
          </div>
        </div>





        <div class="catalog-detail__inner">
          <div class="catalog-detail__image">
            <div class="catalog-detail-slider">
              <div class="swiper-container catalog-detail-slider__container">
                <div class="swiper-wrapper catalog-detail-slider__wrapper">

                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-slider">
                    <img src="uploads/catalog-detail-slider/1.jpg" title="" alt=""
                      class="slide-catalog-detail-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-slider">
                    <img src="uploads/catalog-detail-slider/2.jpg" title="" alt=""
                      class="slide-catalog-detail-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-slider">
                    <img src="uploads/catalog-detail-slider/3.jpg" title="" alt=""
                      class="slide-catalog-detail-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-slider">
                    <img src="uploads/catalog-detail-slider/4.jpg" title="" alt=""
                      class="slide-catalog-detail-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-slider">
                    <img src="uploads/catalog-detail-slider/5.jpg" title="" alt=""
                      class="slide-catalog-detail-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-slider">
                    <img src="uploads/catalog-detail-slider/6.jpg" title="" alt=""
                      class="slide-catalog-detail-slider__image">
                  </div>

                </div>
              </div>
            </div>
            <div class="catalog-detail-nav-slider">
              <div class="swiper-container catalog-detail-nav-slider__container">
                <div class="swiper-wrapper catalog-detail-nav-slider__wrapper">

                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-nav-slider">
                    <img src="uploads/catalog-detail-nav-slider/1.jpg" title="" alt=""
                      class="slide-catalog-detail-nav-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-nav-slider">
                    <img src="uploads/catalog-detail-nav-slider/2.jpg" title="" alt=""
                      class="slide-catalog-detail-nav-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-nav-slider">
                    <img src="uploads/catalog-detail-nav-slider/3.jpg" title="" alt=""
                      class="slide-catalog-detail-nav-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-nav-slider">
                    <img src="uploads/catalog-detail-nav-slider/4.jpg" title="" alt=""
                      class="slide-catalog-detail-nav-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-nav-slider">
                    <img src="uploads/catalog-detail-nav-slider/5.jpg" title="" alt=""
                      class="slide-catalog-detail-nav-slider__image">
                  </div>
                  <div class="swiper-slide catalog-detail-slide__slide slide-catalog-detail-nav-slider">
                    <img src="uploads/catalog-detail-nav-slider/6.jpg" title="" alt=""
                      class="slide-catalog-detail-nav-slider__image">
                  </div>

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-prev swiper-slide catalog-detail-slide__btn catalog-detail-slide__btn--prev">
                </div>
                <div class="swiper-button-next swiper-slide catalog-detail-slide__btn catalog-detail-slide__btn--next">
                </div>
              </div>
            </div>
          </div>


          <div class="catalog-detail__info information-detail-card">
            <header class="information-detail-card__header">
              <h1 class="page__title  information-detail-card__title">Двуспальная кровать Кровать Амина-М</h1>


              <div class="information-detail-card__rating rating">
                <div class="rating__inner">
                  <div class="rating__item rating__item--active"><svg class="rating__icon">
                      <use xlink:href="#i-rating-star"></use>
                    </svg></div>
                  <div class="rating__item rating__item--active"><svg class="rating__icon">
                      <use xlink:href="#i-rating-star"></use>
                    </svg></div>
                  <div class="rating__item rating__item--active"><svg class="rating__icon">
                      <use xlink:href="#i-rating-star"></use>
                    </svg></div>
                  <div class="rating__item"><svg class="rating__icon">
                      <use xlink:href="#i-rating-star"></use>
                    </svg></div>
                  <div class="rating__item"><svg class="rating__icon">
                      <use xlink:href="#i-rating-star"></use>
                    </svg></div>
                </div>
                <div class="rating__text">
                  на основе 138 оценок
                </div>
              </div>


              <div class="information-detail-card__prices card-prices">

                <div class="card-prices__inner">
                  <div class="card-price card-price--old">17990 ₽</div>
                  <div class="card-price">16990 ₽</div>
                </div>

                <div class="card-prices__add-info">
                  Цена указана для кровати с размером спального места (указан ниже) в стандартной комплектации без
                  стоимости матраса и без стоимости подкроватных ящиков!
                </div>
              </div>


            </header>
            <div class="information-detail-card__options card-options">
              <div class="card-options__item card-sizes-table">
                <div class="card-sizes-table__row  card-sizes-table__row--header">
                  <div class="card-sizes-table__col">
                    Размер
                  </div>
                  <div class="card-sizes-table__col">
                    Цена
                  </div>
                </div>
                <div class="card-sizes-table__row">
                  <div class="card-sizes-table__col">
                    90x200см
                  </div>
                  <div class="card-sizes-table__col card-sizes-table__col--price">
                    13 720 ₽
                  </div>
                  <div class="card-sizes-table__col">
                    <button type="button" class="card-sizes-table__btn btn--clear"
                      aria-label="Купить Кровать Амина-М">Купить</button>
                  </div>
                </div>
                <div class="card-sizes-table__row">
                  <div class="card-sizes-table__col">
                    120x200см
                  </div>
                  <div class="card-sizes-table__col card-sizes-table__col--price">
                    13 720 ₽
                  </div>
                  <div class="card-sizes-table__col">
                    <button type="button" class="card-sizes-table__btn btn--clear"
                      aria-label="Купить Кровать Амина-М">Купить</button>
                  </div>
                </div>
                <div class="card-sizes-table__row">
                  <div class="card-sizes-table__col">
                    140x200см
                  </div>
                  <div class="card-sizes-table__col card-sizes-table__col--price">
                    15 720 ₽
                  </div>
                  <div class="card-sizes-table__col">
                    <button type="button" class="card-sizes-table__btn btn--clear"
                      aria-label="Купить Кровать Амина-М">Купить</button>
                  </div>
                </div>
                <div class="card-sizes-table__row">
                  <div class="card-sizes-table__col">
                    160x200см
                  </div>
                  <div class="card-sizes-table__col card-sizes-table__col--price">
                    17 720 ₽
                  </div>
                  <div class="card-sizes-table__col">
                    <button type="button" class="card-sizes-table__btn btn--clear"
                      aria-label="Купить Кровать Амина-М">Купить</button>
                  </div>
                </div>
                <div class="card-sizes-table__row">
                  <div class="card-sizes-table__col">
                    180x200см
                  </div>
                  <div class="card-sizes-table__col card-sizes-table__col--price">
                    13 720 ₽
                  </div>
                  <div class="card-sizes-table__col">
                    <button type="button" class="card-sizes-table__btn btn--clear"
                      aria-label="Купить Кровать Амина-М">Купить</button>
                  </div>
                </div>
                <div class="card-sizes-table__row  card-sizes-table__row--footer">
                  <div class="card-sizes-table__col">
                    Указать свой:
                  </div>
                  <div class="card-sizes-table__col card-sizes-table__col--custom-size">
                    <input type="text" class="card-sizes-table__custom-size">
                  </div>
                  <div class="card-sizes-table__col">
                    <button type="button" class="card-sizes-table__btn btn--clear"
                      aria-label="Купить Кровать Амина-М">Купить</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="information-detail-card__actions detail-card-actions">
              <button type="button" aria-label="Купить в один клик"
                class="detail-card-actions__item action-detail-card  action-detail-card--buy-1-click btn--clear">
                Купить в один клик
              </button>
              <button type="button" aria-label="В корзину"
                class="detail-card-actions__item action-detail-card  action-detail-card--buy btn--clear">
                В корзину
              </button>
            </div>
          </div>
        </div>

      </article>
      <section class="collections-block">
        <header class="collections-block__header">
          <h3 class="collections-block__title">Товары из коллекции</h3>
          <a href="" class="collections-block__more">Показать все коллекции</a>
          <div class="collections-slider__nav">
            <button type="button" class="btn--clear swiper-button-prev collections-slider__button collections-slider__button--prev"></button>
            <button type="button" class="btn--clear swiper-button-next collections-slider__button collections-slider__button--next"></button>
          </div>
        </header>
        <div class="collections-block__inner">


          <div class="collections-slider">

            <div class="swiper-container collections-slider__container">
              <div class="swiper-wrapper collections-slider__wrapper">

                <div class="swiper-slide collections-slider__slide slide-collections-slider">
                  <article class="Z product-teaser">
                    <div class="product-teaser__inner">
                      <header class="product-teaser__header">
                        <div class="product-teaser__sticker sticker sticker--sale">
                          -10%
                        </div>
                        <a href="" title="" class="product-teaser__image">
                          <img src="../../uploads/catalog-list/1.png" alt="" />
                        </a>
                        <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
                      </header>
                      <footer class="product-teaser__footer">
                        <div class="product-teaser__prices">
                          <div class="product-teaser__price">9330 ₽</div>
                          <div class="product-teaser__price product-teaser__price--old">
                            10330 ₽
                          </div>
                        </div>
                        <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                          В корзину
                        </button>
                      </footer>
                    </div>
                  </article>
                </div>

                <div class="swiper-slide collections-slider__slide slide-collections-slider">
                  <article class="Z product-teaser">
                    <div class="product-teaser__inner">
                      <header class="product-teaser__header">
                        <div class="product-teaser__sticker sticker sticker--sale">
                          -10%
                        </div>
                        <a href="" title="" class="product-teaser__image">
                          <img src="../../uploads/catalog-list/1.png" alt="" />
                        </a>
                        <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
                      </header>
                      <footer class="product-teaser__footer">
                        <div class="product-teaser__prices">
                          <div class="product-teaser__price">9330 ₽</div>
                          <div class="product-teaser__price product-teaser__price--old">
                            10330 ₽
                          </div>
                        </div>
                        <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                          В корзину
                        </button>
                      </footer>
                    </div>
                  </article>
                </div>

                <div class="swiper-slide collections-slider__slide slide-collections-slider">
                  <article class="Z product-teaser">
                    <div class="product-teaser__inner">
                      <header class="product-teaser__header">
                        <div class="product-teaser__sticker sticker sticker--sale">
                          -10%
                        </div>
                        <a href="" title="" class="product-teaser__image">
                          <img src="../../uploads/catalog-list/1.png" alt="" />
                        </a>
                        <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
                      </header>
                      <footer class="product-teaser__footer">
                        <div class="product-teaser__prices">
                          <div class="product-teaser__price">9330 ₽</div>
                          <div class="product-teaser__price product-teaser__price--old">
                            10330 ₽
                          </div>
                        </div>
                        <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                          В корзину
                        </button>
                      </footer>
                    </div>
                  </article>
                </div>

                <div class="swiper-slide collections-slider__slide slide-collections-slider">
                  <article class="Z product-teaser">
                    <div class="product-teaser__inner">
                      <header class="product-teaser__header">
                        <div class="product-teaser__sticker sticker sticker--sale">
                          -10%
                        </div>
                        <a href="" title="" class="product-teaser__image">
                          <img src="../../uploads/catalog-list/1.png" alt="" />
                        </a>
                        <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
                      </header>
                      <footer class="product-teaser__footer">
                        <div class="product-teaser__prices">
                          <div class="product-teaser__price">9330 ₽</div>
                          <div class="product-teaser__price product-teaser__price--old">
                            10330 ₽
                          </div>
                        </div>
                        <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                          В корзину
                        </button>
                      </footer>
                    </div>
                  </article>
                </div>

                <div class="swiper-slide collections-slider__slide slide-collections-slider">
                  <article class="Z product-teaser">
                    <div class="product-teaser__inner">
                      <header class="product-teaser__header">
                        <div class="product-teaser__sticker sticker sticker--sale">
                          -10%
                        </div>
                        <a href="" title="" class="product-teaser__image">
                          <img src="../../uploads/catalog-list/1.png" alt="" />
                        </a>
                        <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
                      </header>
                      <footer class="product-teaser__footer">
                        <div class="product-teaser__prices">
                          <div class="product-teaser__price">9330 ₽</div>
                          <div class="product-teaser__price product-teaser__price--old">
                            10330 ₽
                          </div>
                        </div>
                        <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                          В корзину
                        </button>
                      </footer>
                    </div>
                  </article>
                </div>

                <div class="swiper-slide collections-slider__slide slide-collections-slider">
                  <article class="Z product-teaser">
                    <div class="product-teaser__inner">
                      <header class="product-teaser__header">
                        <div class="product-teaser__sticker sticker sticker--sale">
                          -10%
                        </div>
                        <a href="" title="" class="product-teaser__image">
                          <img src="../../uploads/catalog-list/1.png" alt="" />
                        </a>
                        <a href="" title="Кровать Велина-М" class="product-teaser__title">Кровать Велина-М</a>
                      </header>
                      <footer class="product-teaser__footer">
                        <div class="product-teaser__prices">
                          <div class="product-teaser__price">9330 ₽</div>
                          <div class="product-teaser__price product-teaser__price--old">
                            10330 ₽
                          </div>
                        </div>
                        <button type="button" class="product-teaser__add-to-cart" aria-label="Добавить товар в корзину">
                          В корзину
                        </button>
                      </footer>
                    </div>
                  </article>
                </div>



              </div>
            </div>
          </div>


        </div>
      </section>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>