<% var data = { title: "Каталог", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Формы</h1>
      <div class="page-forms">


        <div class="form">

          <form action="">
            <button type="button" class="form__close btn--clear" aria-label="Закрыть форму">
              <svg class="icon">
                <use xlink:href="#i-form-close"></use>
              </svg>
            </button>
            <div class="form__inner">
              <header class="form__header">
                <div class="form__title">Закажите по своему размеру</div>
                <div class="form__description">
                  Укажите интересующие вас размеры и тип мебели
                </div>
              </header>
              <div class="form__body">
                <div class="form__item item-form item-form--text">
                  <label class="item-form__label">
                    <span class="item-form__name">Товар:</span> <span class="item-form__required">*</span>
                    <input name="" c required type="text" class="item-form__field item-form__field--text">
                  </label>
                </div>
                <div class="form__item item-form item-form--email">
                  <label class="item-form__label">
                    <span class="item-form__name">Телефон::</span>
                    <input name="" value="" type="email" class="item-form__field item-form__field--email">
                  </label>
                </div>
                <div class="form__item item-form item-form--textarea">
                  <label class="item-form__label">
                    <span class="item-form__name">Сообщение:</span> <span class="item-form__required">*</span>
                    <textarea name="" class="item-form__field item-form__field--textarea"></textarea>
                  </label>
                </div>
              </div>
              <footer class="form__footer">
                <div class="form__item item-form item-form--agree">
                  <label class="item-form__label item-form__label--agree">
                    <input type="checkbox" checked="checked"
                      class="item-form__field item-form__field--checkbox item-form--agree visually-hidden">
                    <span class="item-form__custom-checkbox"></span>
                    Я даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом от
                    27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных Политикой
                    конфиденциальности.
                  </label>
                </div>



                <div class="form__actions">
                  <button type="button" class="form__submit">Отправить</button>
                </div>
              </footer>
            </div>
          </form>
        </div>


    </main>
  </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>