<% var data = {
  title: "Главная страница", 
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="main-slider">
  <div class="swiper-container main-slider__container">
    <div class="swiper-wrapper main-slider__wrapper">

      <div class="swiper-slide main-slider__slide slide-main-slider">

        <div class="slide-main-slider__inner">
          <div class="slide-main-slider__content" style="--slider-color: #988F6F;">
            <div class="slide-main-slider__medium-text">Коллекция</div>
            <div class="slide-main-slider__big-text">МАРТА</div>
            <a href="" class="slide-main-slider__button">Подробнее</a>
          </div>
          <img src=" ../../uploads/main-slider/1.jpg" title="" alt="" class="slide-main-slider__image">
        </div>
      </div>

      <div class="swiper-slide main-slider__slide slide-main-slider">
        <div class="slide-main-slider__inner slide-main-slider__inner--reverse">
          <div class="slide-main-slider__content" style="--slider-color: #E88161;">
            <div class="slide-main-slider__medium-text">Коллекция</div>
            <div class="slide-main-slider__big-text">БАЛИ</div>
            <a href="" class="slide-main-slider__button">Подробнее</a>
          </div>
          <img src="../../uploads/main-slider/7.jpg" title="" alt="" class="slide-main-slider__image">
        </div>
      </div>

      <div class="swiper-slide main-slider__slide slide-main-slider">
        <div class="slide-main-slider__inner">
          <div class="slide-main-slider__content" style="--slider-color: #205B29;">
            <div class="slide-main-slider__medium-text">Коллекция</div>
            <div class="slide-main-slider__big-text">БЕРТА</div>
            <a href="" class="slide-main-slider__button">Подробнее</a>
          </div>
          <img src=" ../../uploads/main-slider/2.jpg" title="" alt="" class="slide-main-slider__image">
        </div>
      </div>

      <div class="swiper-slide main-slider__slide slide-main-slider">
        <div class="slide-main-slider__inner slide-main-slider__inner--reverse">
          <div class="slide-main-slider__content" style="--slider-color:#6EBA32 ;">
            <div class="slide-main-slider__medium-text">Коллекция</div>
            <div class="slide-main-slider__big-text">Коллекция</div>
            <a href="" class="slide-main-slider__button">Подробнее</a>
          </div>
          <img src="../../uploads/main-slider/8.jpg" title="" alt="" class="slide-main-slider__image">
        </div>
      </div>


    </div>
  </div>
</div>
<div class="container">
  <div class="catalog-categories">
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Кровати</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/1.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">122 товара</div>
        <div class="item-catalog-category__title">Матрасы</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/2.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">142 товара</div>
        <div class="item-catalog-category__title">Комоды</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/3.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">33 товара</div>
        <div class="item-catalog-category__title">Тумбы</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/4.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Шкафы</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/5.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Письменные столы</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/6.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Буфеты</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/7.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Мебель в стиле Верди</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/8.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Кровати</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/9.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Прихожие</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/10.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Стенки</div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/11.png" alt="" class="item-catalog-category__image">
    </a>
    <a href="" title="" class="catalog-categories__item item-catalog-category">
      <div class="item-catalog-category__content">
        <div class="item-catalog-category__count">123 товара</div>
        <div class="item-catalog-category__title">Резная мебель </div>
        <div class="item-catalog-category__more">Подробнее</div>
      </div>
      <img src="../../uploads/catalog-categories/12.png" alt="" class="item-catalog-category__image">
    </a>
  </div>
</div>


<div class="advantages-block">
  <div class="container advantages-block__container">
    <div class="advantages-block__item item-advantage">
      <img src="../../uploads/advantages/1.svg" alt="" class="item-advantage__icon">
      <div class="item-advantage__content">
        <div class="item-advantage__title">Собственное производство</div>
        <div class="item-advantage__text">На рынке с 2007 года. Низкая стоимость без наценок.</div>
      </div>
    </div>
    <div class="advantages-block__item item-advantage">
      <img src="../../uploads/advantages/2.svg" alt="" class="item-advantage__icon">
      <div class="item-advantage__content">
        <div class="item-advantage__title">Экологические материалы</div>
        <div class="item-advantage__text">Только 100% массив сосны и берёзы</div>
      </div>
    </div>
    <div class="advantages-block__item item-advantage">
      <img src="../../uploads/advantages/3.svg" alt="" class="item-advantage__icon">
      <div class="item-advantage__content">
        <div class="item-advantage__title">Качественное сырье и изготовление</div>
        <div class="item-advantage__text">Только 100% массив сосны и берёзы</div>
      </div>
    </div>
    <div class="advantages-block__item item-advantage">
      <img src="../../uploads/advantages/4.svg" alt="" class="item-advantage__icon">
      <div class="item-advantage__content">
        <div class="item-advantage__title">Работаем без предоплат</div>
        <div class="item-advantage__text">Оплата по факту доставки и сборки мебели</div>
      </div>
    </div>
  </div>
</div>
<div class="container container--promo-blocks">
  <div class="promo-blocks">
    <div class="promo-blocks__item item-promo item-promo--delivery">
      <header class="item-promo__header">
        <div class="item-promo__title">Доставка и сборка</div>
        <div class="item-promo__text">Собственным транспортом фабрики “Дейсус-М”</div>
      </header>
      <a href="Подробнее" class="item-promo__more" title="">Подробнее</a>
    </div>
    <div class="promo-blocks__item item-promo item-promo--sizes">
      <header class="item-promo__header">
        <div class="item-promo__title">Наша продукция по вашим размерам</div>
      </header>
      <a href="Подробнее" class="item-promo__more" title="">Подробнее</a>
    </div>
    <div class="promo-blocks__item item-promo item-promo--night">
      <header class="item-promo__header">
        <div class="item-promo__title">Ночью дешевле</div>
        <div class="item-promo__text">Скидка 2% с 21:00 до 06:00</div>
      </header>
      <a href="Подробнее" class="item-promo__more" title="">Подробнее</a>
    </div>
  </div>

</div>

<section class="about-block">
  <div class="container">
    <h1 class="about-block__title">
      Дейсус-М — производитель мебели из массива сосны и берёзы
    </h1>
    <div class="about-block__text">
      <p>
        Компания «Дейсус-М» изготавливает качественную и стильную мебель из натурального массива дерева, которую
        предлагает приобрести по низким ценам. Доставляем заказы по Москве и Подмосковью. Сотрудничаем с оптовиками.
        Ассортимент включает классические и современные модели, которые подойдут обстановки уютной квартиры, просторного
        коттеджа, загородного дома или дачи. В каталоге Вы найдете добротную деревянную мебель: кровати, шкафы, комоды,
        тумбы, столы, стулья и др. Каждый товар доступен в типовом варианте или по заданным покупателем параметрам
        (размер, цвет, комплектация, декор).
      </p>
      <p>
        Предоставляем сертификаты качества и гарантию производителя. Предлагаемая продукция изготовлена из природного
        сырья — древесины сосны. Выбор этой породы обоснован ее свойствами: прочность, износостойкость, экологичность,
        простой уход, сравнительно низкие расценки. Конечная стоимость изделия зависит от выбранной древесины,
        габаритов,
        расцветки и дополнительных элементов. Для постоянных клиентов предусмотрены бонусы, которые делают покупку еще
        выгоднее и экономит бюджет. Нашли такой же товар дешевле в другом интернет-магазине? Сообщите нам об этом, а мы
        при оформлении заявки сделаем на него скидку 2% от наименьшей найденной цены.
      </p>
    </div>
  </div>

</section>



<%= _.template(require('./../includes/footer.html').default)(data) %>