<% var data = { title: "Каталог", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Материалы</h1>
      <div class="page-materials">
        <div class="materials">
          <div class="materials__tab tab-material">
            <div class="tab-material__title tab-material__title--open">Цветовая гамма древесины</div>
            <div class="tab-material__content tab-material__content--open">
              <div class="tab-material__content-inner materials">
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>


              </div>
            </div>
          </div>
          <div class="materials__tab tab-material">
            <div class="tab-material__title">Цветовая гамма древесины с тиснением</div>
            <div class="tab-material__content">
              <div class="tab-material__content-inner">
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>


              </div>
            </div>
          </div>
          <div class="materials__tab tab-material">
            <div class="tab-material__title">Ткани</div>
            <div class="tab-material__content">
              <div class="tab-material__content-inner">
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/1.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/1.jpg">
                  <div class="material__title">Венге 1</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/2.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/2.jpg">
                  <div class="material__title">Венге 2</div>
                </a>

                <a data-fancybox="gallery" href="../../uploads/materials/3.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/3.jpg">
                  <div class="material__title">Венге 3</div>
                </a>
                <a data-fancybox="gallery" href="../../uploads/materials/4.jpg" class="tab-material__item material">
                  <img src="../../uploads/materials/4.jpg">
                  <div class="material__title">Б. Белый с серебряной патиной</div>
                </a>


              </div>
            </div>
          </div>


        </div>


      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>