<% var data = { title: "Покупайте подлинную мебель фабрики «Дейсус-М»", }; %>
<%=_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <%= _.template(require('./../includes/sidebar.html').default)() %>
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Материалы, используемые при производстве мебели </h1>
      <div class="page-materials-article">

        <div class="materials-article__row">
          <img src="uploads/materials-article/1.png" alt="" class="img--right">
          <p>Фабрика «Дейсус-М» при изготовлении мебели использует только проверенные технологии и современные
            материалы.
            В процессе изготовления применяются материалы, обеспечивающие высокую прочность и надежность изделий.</p>
          <div class="materials-article__title">
            Лак Renner
          </div>
          <p>
            Популярность применения лаков для мебели на водной основе возросла, причиной такого роста стало неоспоримое
            преимущества этих лакокрасочных материалов:
          </p>
          <p>
            • значительно выросший уровень качества водоразбавимых ЛКМ;
            • высокая экологичность как для персонала производств, так и для потребителя;
            • законодательство стало поощрять производителей мебели, применяющих в рабочем процессе лаки для мебели на
            водной основе.
          </p>
          <p>
            Водные лаки, как и краски на водной основе выделены в отдельную группу ЛКМ со своими специфическими
            свойствами.
          </p>
          <p>
            Среди них:
          </p>
          <p>
            • Высокая эластичность. Некоторые из них могут растягиваться на 200%.
            • Высокая стойкость к морозу и солнечному свету.
            • Наличие в составе водных лаков специальных присадок, поглощающих УФ-излучение.
            • Наличие в составе специальных противофунгицидных добавок.
          </p>

        </div>

        <div class="materials-article__row">
          <img src="uploads/materials-article/2.png" alt="" class="img--left">
          <div class="materials-article__title">
            Barpimo
          </div>
          <p>
            Barpimo является лидером по изготовлению и продаже лаков для дерева, декоративных, строительных и
            промышленных
            красок.
          </p>
          <p>
            Краска Barpimo ― это:
          </p>
          <p>
            • Экономичность. В отличие от большинства конкурентов, покровные краски более экономичны. Это позволяет
            придать нужный цвет меньшим количеством краски.
            • Долговечность. Используя материалы компании Барпимо, вы забываете о ремонтной окраске как минимум на  5-10
            лет.
          </p>
        </div>
        <div class="materials-article__row">
          <img src="uploads/materials-article/3.png" alt="" class="img--right">
          <div class="materials-article__title">
            Клей Helius
          </div>
          <p>
            Мебельный клей используют для склеивания при монтаже, изготовлении любой мебели с хорошей стойкостью к влаге
            и воде в местах соединения, т.е. требования группы D-3, DIN EN 204, для склеивания прессованных плит в
            прессе с коротким тактом (температура прессования 60-80°С) с дальнейшим процессом формирования. В результате
            достигается склеивание, стойкое к воде и высоким температурам.
          </p>
        </div>
        <div class="materials-article__row">
          <img src="uploads/materials-article/4.png" alt="" class="img--left">
          <div class="materials-article__title">
            Шлифы и машинки
          </div>
          <p>
            Эксцентриковая шлифовальная машина - сравнительно новый вид электроинструмента. Рабочий орган такой машины,
            имеющий форму диска, установлен на оси привода так, что в процессе шлифования он вращается и совершает
            колебательные движения с амплитудой 2-7 мм. За счет этого достигают высокой производительности и
            одновременно обеспечивается тонкое шлифование. Такое движение диска исключает появление на шлифуемой
            поверхности следов, какие можно встретить при обработке заготовок ленточной или угловой шлифовальной
            машиной.
          </p>
          <p>

            Кроме того, вращательное движение диска способствует более эффективному (в частности, по сравнению с
            виброшлифовальной машиной) удалению образующейся при шлифовании пыли. Эксцентриковая машина снимает слой
            материала больший, чем виброшлифовальная, но несколько меньший, чем ленточная (последняя, собственно, и
            предназначена для грубой обдирки заготовок).
          </p>
          <p>
            Эксцентриковые машинки по своему применению универсальны. Они пригодны для шлифования не только дерева и
            металла, но и поверхностей, имеющих лакокрасочное покрытие. Нередко их используют и для полирования
            отделанных поверхностей.
          </p>
          <p>
            При производстве предметов мебели используется клей Иоваколь 103.10, правильное применение которого
            обеспечивает нагрузку Д3, и лак полиуретановый матовый тиксотропный от ROVEA.
          </p>
        </div>

        <div class="materials-article__footer footer-materials-article">
          <div class="footer-materials-article__item">
            <div class="footer-materials-article__title">
              Клей Иоваколь 103.10
            </div>
            <div class="footer-materials-article__text">
              <p>
                Клей разработан компанией Jowat («Йоват») – одним из крупнейших немецких производителей клея. Данный
                клей обеспечивает повышенную влагостойкость изделий и отлично подходит для мягкой и твердой древесины,
                различных древесных плит. Используется для облицовывания шпоном.
              </p>
              <p>
                Технические данные:
              </p>
              <p>
                Основа: поливинилацетат (ПВА) <br>
                Цвет высохшей клеевой пленки: бесцветно-прозрачный <br>
                Минимальная температура образования клеевой пленки: 5 градусов по Цельсию <br>
                Значение pH: 5,0 <br>
                Плотность (г/см3): 1,08 <br>
                Нанесение клея: одностороннее или двустороннее
              </p>
            </div>
          </div>
          <div class="footer-materials-article__item">
            <div class="footer-materials-article__title">
              Лак полиуретановый матовый тиксотропный от ROVEA
            </div>
            <div class="footer-materials-article__text">
              <p>
                Полиуретановый матовый тиксотропный лак производства итальянской компании ROVEA обладает отличными
                потребительскими свойствами. Лак не только способен придать мебели прекрасный внешний вид, но и защитить
                ее от царапин и иных воздействий внешний среды.
              </p>
              <p>
                Технические данные:
              </p>
              <p>
                Основа: RVO 1 27 xx <br>
                Нанесение клея: возможно на горизонтальные и вертикальные поверхности <br>
                Степень блеска, Gardner 60°: 5; 10; 20; 30 ед. <br>
                Метод нанесения: распыление <br>
                Количество слоев: 1 <br>
              </p>
            </div>
          </div>

          <div class="footer-materials-article__item">
            <div class="footer-materials-article__title">
              Прозрачный полиуретановый тиксотропный грунт
            </div>
            <div class="footer-materials-article__text">
              <p>
                Прозрачный полиуретановый грунт от компании ROVEA отлично походит для открыто- и закрытопористой отделки
                мебели. Данный грунт обладает высокой поверхностной твердостью и характеризуется легкостью шлифования,
                быстротой высыхания, хорошим порозаполнением и повышенной прозрачностью.
              </p>
              <p>
                Технические данные:
              </p>
              <p>
                Основа грунта: RVF1 T009 <br>
                Метод нанесения: распыление <br>
                Количество слоев: 1-3
              </p>
            </div>
          </div>

          <div class="footer-materials-article__item">
            <div class="footer-materials-article__title">
              Лак ПУР матовый с повышенной твердостью «3Н»
            </div>
            <div class="footer-materials-article__text">
              <p>
                2-х компонентный тиксотропный полиуретановый финишный лак используется для открыто- или закрытопористой
                отделки мебели с высоким сухим остатком. Лак обеспечивает повышенную норму твердости – «3Н» и отличается
                устойчивостью к царапинам. Основное применение лака – отделка поверхности предметов мебели, где
                необходима повышенная поверхностная прочность.
              </p>
              <p>
                Технические данные:
              </p>
              <p>
                Основа лака: RV 01 37ХХ <br>
                Метод нанесения: распыление, налив <br>
                Количество слоев: 1 <br>
                Степень блеска, Gardner 60°

              </p>
              <p>
                RV 01 3710 10 ед.
                RV 01 3730 30 ед.
                RV 01 3745 45 ед.
                RVO1 3765 65 ед.
                RVO1 3790 90 ед.
              </p>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>