<% var data = { title: "Наше оборудование", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Наше оборудование</h1>
      <div class="page-our-equipment">
        <div class="equipment-block equipment-block--slider-right">
          <div class="equipment-block__text">
            В компании «Дейсус-М» используется современное оборудование, благодаря которому мебель из массива
            натурального дерева всегда высокого качества. Сотрудники компании специально обучены для работы на
            европейском оборудовании.
          </div>
          <div class="equipment-block__slider equipment-block__slider--right">
            <div class="equipment-slider">
              <div class="swiper-container equipment-slider__container">
                <div class="swiper-wrapper equipment-slider__wrapper">

                  <div class="swiper-slide equipment-slider__slide slide-equipment-slider">
                    <figure class="slide-equipment-slider__image">
                      <img src="../../uploads/equipment/1.jpg" alt="">
                      <figcaption class="slide-equipment-slider__image-name">LEADERMAC LMC-615C</figcaption>
                    </figure>
                  </div>

                  <div class="swiper-slide equipment-slider__slide slide-equipment-slider">
                    <figure class="slide-equipment-slider__image">
                      <img src="../../uploads/equipment/2.jpg" alt="">
                      <figcaption class="slide-equipment-slider__image-name">LEADERMAC LMC-615C</figcaption>
                    </figure>
                  </div>

                  <div class="swiper-slide equipment-slider__slide slide-equipment-slider">
                    <figure class="slide-equipment-slider__image">
                      <img src="../../uploads/equipment/3.jpg" alt="">
                      <figcaption class="slide-equipment-slider__image-name">LEADERMAC LMC-615C</figcaption>
                    </figure>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="equipment-block__text">
            <div class="equipment-block__title">
              Мебельное производство
            </div>
            Предметы мебели являются неотъемлемой частью современной цивилизации. Они обеспечивают комфорт и уют, их
            наличие делает жизнь удобной и благоустроенной. Происхождение различных предметов мебели уходит вглубь
            времен. Определить момент ее возникновения очень сложно. Но в течение всего времени своего существования
            мебель постоянно видоизменяется, модифицируется и совершенствуется. С развитием науки и общества появляются
            новые способы изготовления предметов интерьера, разрабатывается более эффективное оборудование по
            производству мебели, совершенствуются технологии обработки материалов, внедряются различные нововведения в
            мебельное производство.
          </div>
          <div class="equipment-block__text">
            <div class="equipment-block__title">
              Производство мебели для кухни
            </div>
            Кухня – одна из главных комнат в доме, отличающихся большой функциональностью. На кухне не только
            осуществляется приготовление пищи, но и едят, а также собираются всей семьей вместе. Кухня характеризуется
            большим числом различных предметов мебели, среди которых кухонные гарнитуры, столы и стулья. Эти предметы не
            заменимы для того чтобы кухня была полноценной. Производство мебели для кухни из дерева позволяет создать
            гармоничный интерьер. Возможность изготовления мебели на заказ делает возможным оптимальное распределение
            пространства. Специалное оборудование помогает изготавливать прочные и надежные предметы мебели для кухни и
            других комнат.

          </div>

        </div>


        <div class="equipment-block equipment-block--slider-left">

          <div class="equipment-block__slider equipment-block__slider--left">
            <div class="equipment-slider">
              <div class="swiper-container equipment-slider__container">
                <div class="swiper-wrapper equipment-slider__wrapper">

                  <div class="swiper-slide equipment-slider__slide slide-equipment-slider">
                    <figure class="slide-equipment-slider__image">
                      <img src="../../uploads/equipment/2.jpg" alt="">
                      <figcaption class="slide-equipment-slider__image-name">LEADERMAC LMC-615C</figcaption>
                    </figure>
                  </div>

                  <div class="swiper-slide equipment-slider__slide slide-equipment-slider">
                    <figure class="slide-equipment-slider__image">
                      <img src="../../uploads/equipment/10.jpg" alt="">
                      <figcaption class="slide-equipment-slider__image-name">LEADERMAC LMC-615C</figcaption>
                    </figure>
                  </div>

                  <div class="swiper-slide equipment-slider__slide slide-equipment-slider">
                    <figure class="slide-equipment-slider__image">
                      <img src="../../uploads/equipment/11.jpg" alt="">
                      <figcaption class="slide-equipment-slider__image-name">LEADERMAC LMC-615C</figcaption>
                    </figure>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="equipment-block__text">
            <div class="equipment-block__title">
              Производство корпусной мебели: шкафы, комоды
            </div>
            Изготовление корпусной мебели – одно из направлений мебельного производства. Данный вид мебели можно
            встретить в любом доме. Шкафы, комоды, буфеты позволяют сделать окружающее пространство не только красивым,
            но и функциональным. Такая мебель позволяет обеспечить максимально компактное хранение вещей. Шкафы и комоды
            относятся к распространенным видам корпусной мебели. Они уместны в любой комнате и часто приобретаются как
            для прихожих и гостиных, так и для с пален и детских комнат. Производство комодов и шкафов на фабрике
            позволяет легко изменять размеры в соответствие с желаниями клиентов. Фабрика мебели способна предложить
            большое разнообразие моделей. Изготовление комодов из натурального дерева, а также других деревянных изделий
            обеспечивает хорошую экологичную атмосферу в любом помещении.


          </div>
          <div class="equipment-block__text">
            <div class="equipment-block__title">
              Производство кроватей
            </div>
            Одной из задач фабрики является производство мебели для спальни. Качественные деревянные кровати станут
            красивым и функциональным элементом интерьера. Кровати из дерева пользуются большой популярностью. Они
            смотрятся стильно и элегантно. Они уместны в различных стилях. Изготовление деревянных кроватей из
            натуральных материалов делает обстановку экологически безопасной и помогает создать прекрасную атмосферу в
            доме. Высококачественное оборудование, используемое на фабрике по производству кроватей, тумб и других
            предметов, позволяет выпускать прочную и надежную мебель.
          </div>

        </div>

      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>