<% var data = { title: "Каталог", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <%= _.template(require('./../includes/sidebar.html').default)() %>
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Отзывы</h1>
      <div class="page-reviews">
        <div class="page-reviews__inner">
          <div class="reviews">
            <div class="reviews__list">
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Заказала комод Антика-М. Осталась очень довольна!!! Комод пришёл хорошо упакованным, без повреждений,
                  в
                  срок. Сделан качественно и красиво! Вообщем полный восторг! Всем рекомендую! Очень ответственный
                  производитель! Буду обязательно заказывать ещё!
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Алла</div>
                </header>
                <div class="review__body">
                  Заказала комод Каприз-М, вчера получила...Он шикарный! Сделан безупречно, ход ящиков плавный,а
                  благодаря резьбе и глубокому вишневому цвету комод смотрится еще благороднее....
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Искренне рекомендую данных товарищей для заказа мебели. 1. На меня потратили кучу времени, чтобы
                  рассказать о всех деталях разных кроватей. 2. Заказ исполнили быстро 3. Доставили тоже быстро 4. По
                  сравнению с тем дсп-шным ширпотребом за бешеные бабки в сетевых гипермаркетах, цены тут - вообще
                  подарок. Мне кажется, ребята работают себе в убыток, потому что обычно не бывает быстро, качественно,
                  дешево.... А у них все три параметра присутствуют. В общем, рекомендую!
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Заказала комод Антика-М. Осталась очень довольна!!! Комод пришёл хорошо упакованным, без повреждений,
                  в
                  срок. Сделан качественно и красиво! Вообщем полный восторг! Всем рекомендую! Очень ответственный
                  производитель! Буду обязательно заказывать ещё!
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Заказала комод Антика-М. Осталась очень довольна!!! Комод пришёл хорошо упакованным, без повреждений,
                  в
                  срок. Сделан качественно и красиво! Вообщем полный восторг! Всем рекомендую! Очень ответственный
                  производитель! Буду обязательно заказывать ещё!
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Заказала комод Антика-М. Осталась очень довольна!!! Комод пришёл хорошо упакованным, без повреждений,
                  в
                  срок. Сделан качественно и красиво! Вообщем полный восторг! Всем рекомендую! Очень ответственный
                  производитель! Буду обязательно заказывать ещё!
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Заказала комод Антика-М. Осталась очень довольна!!! Комод пришёл хорошо упакованным, без повреждений,
                  в
                  срок. Сделан качественно и красиво! Вообщем полный восторг! Всем рекомендую! Очень ответственный
                  производитель! Буду обязательно заказывать ещё!
                </div>
              </div>
              <div class="reviews__item review">
                <header class="review__header">
                  <div class="review__date">12.07.2019</div>
                  <div class="review__author">Юдина Марина Юрьевна</div>
                </header>
                <div class="review__body">
                  Заказала комод Антика-М. Осталась очень довольна!!! Комод пришёл хорошо упакованным, без повреждений,
                  в
                  срок. Сделан качественно и красиво! Вообщем полный восторг! Всем рекомендую! Очень ответственный
                  производитель! Буду обязательно заказывать ещё!
                </div>
              </div>
            </div>
            <%= _.template(require('./../includes/pagination.html').default)() %>
          </div>

          <div class="reviews-form">
            <div class="form">

              <form action="">              
                <div class="form__inner">
                  <header class="form__header">
                    <div class="form__title">
                      <svg class="" width="26" height="26">
                        <use xlink:href="#i-review-form">
                      </svg>
                      Оставить отзыв
                    </div>
                  </header>
                  <div class="form__body">
                    <div class="form__item item-form item-form--text">
                      <label class="item-form__label">
                        <span class="item-form__name">Имя:</span> <span class="item-form__required">*</span>
                        <input name="" c required type="text" class="item-form__field item-form__field--text">
                      </label>
                    </div>
                    <div class="form__item item-form item-form--textarea">
                      <label class="item-form__label">
                        <span class="item-form__name">Отзыв:</span> <span class="item-form__required">*</span>
                        <textarea name="" class="item-form__field item-form__field--textarea"></textarea>
                      </label>
                    </div>
                  </div>
                  <footer class="form__footer">
                    <div class="form__item item-form item-form--agree">
                      <label class="item-form__label item-form__label--agree">
                        <input type="checkbox" checked="checked"
                          class="item-form__field item-form__field--checkbox item-form--agree visually-hidden">
                        <span class="item-form__custom-checkbox"></span>
                        Я даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом
                        от
                        27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных Политикой
                        конфиденциальности.
                      </label>
                    </div>



                    <div class="form__actions">
                      <button type="button" class="form__submit btn">Отправить</button>
                    </div>
                  </footer>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>