<% var data = { title: "Кровати и гарнитуры", }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <div class="main-content-wrapper">
    <main class="main-content">
      <%= _.template(require('./../includes/breadcrumbs.html').default)() %>
      <h1 class="page__title">Кровати и гарнитуры</h1>
      <div class="page-works">



        <div class="works-list">

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/1.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/1.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/1.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/1.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/2.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/2.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/3.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/3.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/4.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/4.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/5.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/5.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/6.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/6.png" alt="">
            </a>
          </div>

          <div class="works-list__item works-teaser">
            <a href="../../uploads/works/7.png" data-fancybox="works-list" title="" class="works-teaser-teaser__inner">
              <img src="../../uploads/works/8.png" alt="">
            </a>
          </div>



        </div>

        <%= _.template(require('./../includes/pagination.html').default)() %>



      </div>
    </main>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>