.form {
  max-width: 600px;
  position: relative;
  background-color: #f1f1f1;
  padding: 25px 30px 35px;

  // .form--gift
  &--gift {
    background-image: url(../img/form-500rub.png);
    background-position: right top;
    background-repeat: no-repeat;
  }

  // .form__close
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
  // .form__inner
  &__inner {
  }
  // .form__header
  &__header {
  }
  // .form__title
  &__title {
    font-weight: 600;
    font-size: 30px;
    text-align: center;

    // .form__title--gift
    &--gift {
      font-weight: 900;
      font-size: 63px;
      line-height: 1;
      text-transform: uppercase;
      color: #c02d33;
      text-align: left;
      margin-top: 20px;
    }
  }
  // .form__description
  &__description {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;

    // .form__description--gift
    &--gift {
      font-weight: normal;
      font-size: 36px;
      line-height: 1;
      color: #0d0d0d;
      text-align: left;
      margin-top: 5px;
    }
  }
  // .form__body
  &__body {
    margin-top: 20px;

    // .form__body--hidden
    &--hidden {
      display: none;
    }
  }
  // .form__item
  &__item {
    margin: 15px 0;
  }
  // .form__footer
  &__footer {
    margin-top: 25px;
  }
  // .form__action
  &__actions {
    margin-top: 25px;
  }
  // .form__submit
  &__submit {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 1px;
    padding: 9px 15px 8px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    transition: $transition;
    color: #ffffff;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      color: $primaryColor;
      background-color: transparent;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  // .form__cols
  &__cols {
    display: flex;
    margin: 0 -10px;

    @media screen and (max-width: 1440px) {
      flex-direction: column;
    }
  }
  // .form__col
  &__col {
    margin: 0 10px;
  }
  // .form__col--6
  &__col--6 {
    flex: 1 1 calc(100% / 2 - 20px);

    @media screen and (max-width: 1440px) {
      flex-basis: 100%;
    }
  }

  // .form__add-comment
  &__add-comment {
    font-size: 14px;
    text-decoration-line: underline;
    color: #e40000;
    line-height: 22px;
  }
  // .form__add-file
  &__add-file {
    font-size: 12px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #6a6a6a;
    padding-left: 27px;
    background-image: url(../img/i-add-file.svg);
    background-repeat: no-repeat;

    & + input[type='file'] {
      display: none;
    }
  }
}

.item-form {
  &__custom-checkbox::before,
  &__custom-checkbox::after {
    content: '';
    display: block;
    background-color: $primaryColor;
    position: absolute;
    transition: $transition;
    height: 1px;
    opacity: 0;
  }
  &__custom-checkbox::before {
    width: 5px;
    transform: rotate(44deg);
    top: 7px;
    left: 2px;
  }
  &__custom-checkbox::after {
    width: 8px;
    transform: rotate(-56deg);
    top: 5px;
    left: 4px;
  }
  &__field--checkbox:checked + &__custom-checkbox::before,
  &__field--checkbox:checked + &__custom-checkbox::after {
    opacity: 1;
  }

  // .item-form--text
  &--text {
  }
  // .item-form--email
  &--email {
  }
  // .item-form--textarea
  &--textarea {
  }
  // .item-form--agree
  &--agree {
    font-size: 12px;
    line-height: 1.45;
    letter-spacing: -0.02em;
  }
  // .item-form__label
  &__label {
    font-weight: 600;
    font-size: 12px;
    color: #333333;

    &--agree {
      font-weight: 400;
    }
  }
  // .item-form__name
  &__name {
  }
  // .item-form__required
  &__required {
    color: $primaryColor;
  }
  // .item-form__field
  &__field {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 8px 15px 9px;
    font-weight: 400;
    width: 100%;
    margin-top: 10px;

    // .item-form__field--text
    &--text {
    }
    // .item-form__field--email
    &--email {
    }
    // .item-form__field--textarea
    &--textarea {
      min-height: 80px;
    }
    // .item-form__field--checkbox
    &--checkbox {
    }
  }
  // .item-form__custom-checkbox
  &__custom-checkbox {
    background-color: #ffffff;
    border: 1px solid $primaryColor;
    border-radius: 1px;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    top: 1px;
  }
}

.btn {
  transition: $transition;
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  box-sizing: border-box;
  border-radius: 1px;
  font-size: 20px;
  line-height: 1.2;
  padding: 8px 20px 10px;
  color: #fff;
  display: inline-block;

  svg {
    fill: #fff;
    transition: $transition;
  }

  &:hover,
  &:focus,
  &:active {
    color: $primaryColor;
    background-color: transparent;

    svg {
      fill: $primaryColor;
    }
  }

  &--not-fill {
    background-color: transparent;
    color: $primaryColor;

    svg {
      fill: $primaryColor;
    }

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $primaryColor;

      svg {
        fill: #fff;
      }
    }
  }
}
.form {
  // .form__communication-method
  &__communication-method {
    margin-top: 5px;
  }
}
.communication-method {
  // .communication-method__title
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #c02d33;
  }
  // .communication-method__inner
  &__inner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  // .communication-method__item
  &__item {
  }
}
.item-communication-method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 40px 9px;
  cursor: pointer;

  // .item-communication-method--active
  &--active {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  }
  // .item-communication-method--whantsapp
  &--whantsapp {
  }
  // .item-communication-method--phone
  &--phone {
  }
  // .item-communication-method--email
  &--email {
  }
  // .item-communication-method__title
  &__title {
    font-weight: bold;
    font-size: 12px;
    color: #000000;
  }
  // .item-communication-method__image
  &__image {
    margin-top: 4px;
  }
  // .item-communication-method__footer
  &__footer {
    margin-top: 5px;
    font-size: 12px;

    color: #000000;
  }
}
