.container-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 16px;

  // .header__row
  &__row {
    // .header__row--top
    &--top {
      position: relative;
      z-index: 1;
      background-color: #fff;

      @media screen and (max-width: 1024px) {
        padding: 15px 0;
      }
    }

    // .header__row--catalog-menu
    &--catalog-menu {
      border-top: 1px solid #ececec;
      border-bottom: 1px solid #ececec;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    // .header__row--bottom
    &--bottom {
      background-color: #f1f1f1;
      padding: 15px 0;
      position: relative;
    }
  }

  &__logo {
    max-height: 134px;
    color: #040300;
  }

  &__nav {
    // .header__nav--main-menu
    &--main-menu {
      align-self: center;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__menu {
  }

  &__contacts {
    display: flex;
    flex: 0 0 auto;
  }

  &__catalog-menu {
    margin-left: 10%;
  }
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  flex: 0 0 auto;

  @media screen and (max-width: 1024px) {
    margin: 0 auto;
  }

  &__image {
    padding: 10px 22px 10px 25px;
    background: $primaryColor;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
    margin-right: 19px;
    align-self: flex-start;
    flex: 0 0 auto;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__text {
  }

  &__brand {
    font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0;
    }
  }

  &__promo {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #858585;
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
      font-size: 8px;
      line-height: 9px;
    }
  }
}
.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  &__item {
    &--active {
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 10px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }

    &:hover,
    &:focus,
    &:active,
    &--active {
      text-decoration: underline;
    }
  }
}
.contacts-block {
  font-size: 14px;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 40px;

    @media screen and (max-width: 1440px) {
      margin-right: 20px;
    }
  }

  &--1 {
    text-align: right;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &--2 {
    text-align: left;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__area {
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      margin-right: 6px;
      flex-shrink: 0;
    }
  }

  &__time {
  }
  &__phone-item {
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__phone {
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;

    @media screen and (max-width: 1440px) {
      font-size: 18px;
    }
  }

  &__callback {
  }

  &__icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: cover;
    background-position: center;

    &--viber {
      background-image: url(../img/i-viber.svg);
    }
    &--wa {
      background-image: url(../img/i-whatsapp.svg);
    }
  }
}
.header-time {
  margin-top: 9px; 

@media screen and (max-width: 1440px) {
  margin-top: 6px;
}

  &__bold {
  }
}
.btn {
  &--clear {
  }
}
.callback-btn {
  text-decoration: underline;
  text-align-last: left;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
.catalog-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 170px;
  padding: 0;

  &__item {
    &--active {
    }
  }

  &__link {
    font-weight: 600;
    padding: 10px 10px 10px;
    color: #a62227;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.25;

    &:hover,
    &:focus,
    &:active,
    &--active {
      text-decoration: underline;
    }
  }
}

.container {
}
.header {
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.catalog .search-block {
  margin-left: 360px;

  @media screen and (max-width: 1440px) {
    margin-left: 50px;
  }
}
.search-block {
  position: relative;
  border: 1px solid #d1d1d1;
  flex: 0 1 710px;
  margin: 0 0 0 10%;
  border-radius: 0 3px 3px 0;

  @media screen and (max-width: 1760px) {
    margin: 0;
  }

  @media screen and (max-width: 1024px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: $transition;
    transform: translateY(-100%);

    &--open {
      transform: translateY(0);
    }
  }

  &__input {
    padding: 16px 20px 17px;
    width: 100%;
    height: 100%;
  }

  &__submit {
    background-color: #d9d9d9;
    border-left: 1px solid #d1d1d1;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/i-search.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 52px;
  }
}
.header-links {
  font-weight: 600;
  display: flex;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: -0.02em;
  padding: 0 50px;
  flex: 0 0 auto;

  &__item {
    display: flex;
    align-items: center;
    transition: $transition;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    & svg {
      margin-right: 12px;
      fill: #333;
      transition: $transition;
      flex-shrink: 0;

      @media screen and (max-width: 768px) {
        margin-right: 8px;
      }
    }

    &:not(:last-child) {
      margin-right: 65px;

      @media screen and (max-width: 1440px) {
        margin-right: 50px;
      }

      @media screen and (max-width: 767px) {
        margin-right: 20px;
      }
    }
    &:hover,
    &:focus,
    &:active {
      color: $primaryColor;
    }
    &:hover svg,
    &:focus svg,
    &:active svg {
      fill: $primaryColor;
    }
  }
}
.header-link {
}

.cart-block {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  position: relative;
  border-radius: 1px;
  display: flex;
  padding: 12px 15px;
  align-items: center;
  flex-shrink: 0;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__count {
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: -10px;
  }

  &__title {
    font-weight: 600;
    margin-left: 15px;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__total {
    font-size: 14px;
    border-left: 1px solid #d1d1d1;
    padding: 2px 0 2px 12px;
    margin-left: 12px;
    white-space: nowrap;
  }
}

/***************************/

.header {
  // .header__mobile-block
  &__mobile-block {
    display: none;

    & > *:not(:last-child) {
      padding-right: 15px;
    }

    @media screen and (max-width: 1024px) {
      display: flex;
    }
  }
}
.mobile-block-header {
  // .mobile-block-header__menu
  &__menu {
  }
}
.catalog-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 30px;
  height: 25px;
  background: 0 0;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    vertical-align: bottom;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s 0.3s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: rgb(0, 0, 0);
      transform-origin: 50% 50%;
      transition: top 0.3s 0.3s, transform 0.3s;
    }
    &::before {
      top: 10px;
    }
    &::after {
      top: -10px;
    }
  }

  &--open {
    span {
      background-color: transparent;
      transition: background-color 0.3s 0;
      &::before,
      &::after {
        top: 0;
        transition: top 0.3s, transform 0.3s 0.3s;
      }
      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
