@import 'utils/common';

.container-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  &__row {
    &--catalog-menu {
      border-top: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }
    &--bottom {
      background-color: #f1f1f1;
      padding: 15px 0;
    }
  }

  &__logo {
    max-height: 135px;
    color: #040300;
  }

  &__nav {
    &--main-menu {
      align-self: center;
    }
  }

  &__menu {
  }

  &__contacts {
    display: flex;
  }

  &__catalog-menu {
  }
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;

  &__image {
    padding: 10px 22px 10px 22px;
    background: $primaryColor;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
    margin-right: 19px;
    align-self: flex-start;
  }

  &__text {
  }

  &__brand {
    font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48.4571px;
    line-height: 59px;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    white-space: nowrap;
  }

  &__promo {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #858585;
    white-space: nowrap;
  }
}
.main-menu {
  display: flex;
  justify-content: space-between;

  &__item {
    &--active {
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 10px;

    &:hover,
    &:focus,
    &:active,
    &--active {
      text-decoration: underline;
    }
  }
}
.contacts-block {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &--1 {
    text-align: right;
  }

  &--2 {
    text-align: left;
  }

  &__area {
    display: flex;
    align-items: center;

    svg {
      margin-right: 6px;
    }
  }

  &__time {
  }
  &__phone-item {
    white-space: nowrap;
  }
  &__phone {
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
  }

  &__callback {
  }

  &__icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: cover;
    background-position: center;

    &--viber {
      background-image: url(../img/i-viber.svg);
    }
    &--wa {
      background-image: url(../img/i-whatsapp.svg);
    }
  }
}
.header-time {
  &__bold {
  }
}
.btn {
  &--clear {
  }
}
.callback-btn {
  text-decoration: underline;

  &::hover,
  &::focus,
  &::active {
    text-decoration: none;
  }
}
.catalog-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;

  &__item {
    &--active {
    }
  }

  &__link {
    font-weight: 600;
    padding: 9px 10px 11px;
    color: #a62227;
    display: inline-block;

    &:hover,
    &:focus,
    &:active,
    &--active {
      text-decoration: underline;
    }
  }
}

.container {
}
.header {
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.search-block {
  position: relative;
  border: 1px solid #d1d1d1;
  flex: 0 1 710px;
  &__input {
    padding: 16px 20px 17px;
    border-radius: 3px;
    width: 100%;
  }

  &__submit {
    background-color: #d9d9d9;
    border-left: 1px solid #d1d1d1;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/i-search.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 52px;
    width: 52px;
  }
}
.header-links {
  font-weight: 600;
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    transition: $transition;

    & svg {
      margin-right: 12px;
      fill: #333;
      transition: $transition;
    }

    &:not(:last-child) {
      margin-right: 65px;
    }
    &:hover,
    &:focus,
    &:active {
      color: $primaryColor;
    }
    &:hover svg,
    &:focus svg,
    &:active svg {
      fill: $primaryColor;
    }
  }
}
.header-link {
}
.cart-block {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  position: relative;
  border-radius: 1px;
  display: flex;
  padding: 12px 15px;
  align-items: center;

  &__icon {
    margin-right: 15px;
  }

  &__count {
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: -10px;
  }

  &__title {
    font-weight: 600;
  }

  &__total {
    font-size: 14px;
    border-left: 1px solid #d1d1d1;
    padding: 2px 0 2px 12px;
    margin-left: 12px;
  }
}
