@import 'utils/common';
@import '_header';
@import '_footer';
@import '_main-slider';

@import '~/node_modules/swiper/css/swiper.min.css';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: $default-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.page {
  &__header {
  }
  &__footer {
  }
}

/*------------------------------------*\
    #CATALOG CATEGORIES BLOCK START
\*------------------------------------*/

.catalog-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px -65px;

  &__item {
  }
}
.item-catalog-category {
  flex: 0 1 calc(100% / 3 - 70px);
  margin: 0 35px 65px;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 45px 200px 45px 35px;
  position: relative;
  height: 217px;

  &__count {
    font-weight: 500;
    color: #666666;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 29px;
  }

  &__more {
    color: #c02d33;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 45px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    display: block;
    max-height: 100%;
  }
}

/*------------------------------------*\
    #CATALOG CATEGORIES BLOCK END
\*------------------------------------*/

/*------------------------------------*\
    #ADVANTAGES BLOCK START
\*------------------------------------*/

.advantages-block {
  background-color: #00672f;
  color: #fff;

  &__container {
    display: flex;
    padding: 45px 0;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 50px;
  }
}

.item-advantage {
  &__icon {
    margin-right: 30px;
  }

  &__content {
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.125;
  }

  &__text {
    font-size: 14px;
    color: #efefef;
    margin-top: 3px;
    line-height: 1.214;
  }
}

/*------------------------------------*\
    #ADVANTAGES BLOCK END
\*------------------------------------*/
